/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: #0f0f0f;
    color: #ffffff;
    transition: background 0.3s ease, color 0.3s ease;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    position: fixed;
    width: 100%;
    top: 0;
    background: rgba(15, 15, 15, 0.9);
    backdrop-filter: blur(10px);
    z-index: 1000;
}

.logo {
    font-weight: bold;
    font-size: 1.2rem;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #ffffff;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #00bfff;
}

#darkToggle {
    background: none;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    color: white;
}

/* Sections */
section {
    padding: 120px 10%;
    min-height: 100vh;
}

/* Hero */
.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero h1 span {
    color: #00bfff;
}

.btn {
    margin-top: 20px;
    display: inline-block;
    padding: 10px 25px;
    background: #00bfff;
    color:
